{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block title %}
    {{ super() }} | Login
{% endblock %}

{% block content %}

<div class="row my-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} error col-lg-8 col-md-10 mx-auto text-danger">{{ message }}</div>
    {% endfor %}
    {% endwith %}
    <div class="col-lg-8 col-md-10 mx-auto">
        <h3 class="mb-4">Sign in to your account</h3>
        {{ render_form(form, novalidate=True) }}
    </div>
</div>

{% endblock %}