{% extends "base.html" %}

{% block title %}
    {{ super() }} | Search
{% endblock %}

{% block content %}

<!--suppress HtmlUnknownTarget -->
<div class="row g-5">
    <div class="col-md-4">
        {% include "components/search-filters.html" %}
    </div>

    <div class="col-md-8">
        <form id="searchForm" action="/search" method="GET" class="d-flex my-2" role="search">
            <input id="searchInput" class="form-control me-2" type="search" placeholder="Cafe name or location..."
                   name="q" aria-label="Search for a cafe">
            <button class="btn faux-glass-success" type="submit">
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="#search"></use>
                </svg>
            </button>
        </form>

        <div id="results" class="row my-3">
            {% include 'components/search-result.html' %}
        </div>

        <div class="text-center mt-4">
            <button id="loadMoreBtn"
                    class="btn faux-glass-outline {% if cafes|length < 3 or no_matches %}d-none{% endif %}"
                    data-page="1">
                Load More
            </button>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='javascript/search.js') }}"></script>
{% endblock %}



