{% extends "base.html" %}
{% from "components/macros.html" import render_features_table %}

{% block title %}
    {{ super() }} | {{ cafe_data.name }}
{% endblock %}

{% block content %}
<div class="row g-5">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="display-5 link-body-emphasis mb-1">{{ cafe_data.name }}</h2>
            <p>{{ cafe_data.description | safe }}</p>
            <hr>

            <div class="d-flex align-items-center gap-2 mb-2">
                <h3 class="mb-0">Features and Services</h3>
                <a href="{{ url_for('web.edit', cafe_id=cafe_data.id) }}" class="small text-decoration-none">
                    [edit]
                </a>
            </div>

            {{ render_features_table(cafe_data) }}

            <h3>Where?</h3>
            <p>
                {{ cafe_data.location }}
                <a href="{{ url_for('web.edit', cafe_id=cafe_data.id) }}" class="small text-decoration-none">
                    [edit]
                </a>
            </p>

            {% if embed_url %}
            <iframe
                src="{{ embed_url }}"
                allowfullscreen
                loading="lazy"
            ></iframe>
            {% else %}
            <p>Could not generate embed URL for this location.</p>
            {% endif %}
            <a href="{{ cafe_data.map_url }}" target="_blank">Open in Google Maps</a>
        </article>
        <nav class="blog-pagination" aria-label="Pagination">
            <a class="btn btn-outline-primary rounded-pill" href="#">Next Cafe</a>
        </nav>
    </div>

    <div class="col-md-4">
        {% include "components/aside.html" %}
    </div>
</div>
{% endblock %}