{% extends "base.html" %}
{% from "components/macros.html" import
    render_features_table,
    render_delete_modal,
    render_star_rating,
    render_avg_rating
%}

{% block title %}
    {{ super() }} | {{ cafe_data.name }}
{% endblock %}

{% block content %}
<div class="row g-5">

    <div class="col-md-8">
        <article class="cafe-details">

            <div class="d-flex align-items-center gap-2 mb-2">
                <h2 class="display-5 link-body-emphasis mb-1 me-auto">{{ cafe_data.name }}</h2>
                {% if current_user.is_admin or current_user.id == cafe_data.author_id %}
                <a href="{{ url_for('web.edit', cafe_id=cafe_data.id) }}" class="small text-decoration-none">
                    [edit]
                </a>
                <button type="button" class="btn btn-link small text-decoration-none text-danger p-0 border-0" data-bs-toggle="modal" data-bs-target="#deleteModal{{ cafe_data.id }}">
                    [delete]
                </button>
                {% endif %}
            </div>

            <p class="cafe-meta">January 1, 2021 by <a href="#">Marco</a></p>

            {{ render_delete_modal(cafe_data) }}

            <div class="d-flex align-items-center">
                {{ render_avg_rating(cafe_data) }}

                {% if cafe_data.open_time and cafe_data.close_time %}
                <div class="ms-auto">
                    <p><strong>Hours: </strong>
                        {{ cafe_data.open_time | format_time }} - {{ cafe_data.close_time | format_time }}
                    </p>
                </div>
                {% endif %}
            </div>

            <img
                src="{{ cafe_data.img_url | smart_url }}"
                alt="Photo of {{ cafe_data.name }}"
                class="mb-4 rounded article-img"
            >

            <p>{{ cafe_data.description | safe }}</p>
            <hr>

            {{ render_features_table(cafe_data) }}

            <h3>Where?</h3>
            <p>
                {{ cafe_data.location }}
                {% if current_user.id == 1 %}
                <a href="{{ url_for('web.edit', cafe_id=cafe_data.id) }}" class="small text-decoration-none">
                    [edit]
                </a>
                {% endif %}
            </p>

            {% if embed_url %}
            <iframe
                src="{{ embed_url }}"
                allowfullscreen
                loading="lazy"
            ></iframe>
            {% else %}
            <p>Could not generate embed URL for this location.</p>
            {% endif %}
            <a href="{{ cafe_data.map_url }}" target="_blank">Open in Google Maps</a>

            {{ render_star_rating(cafe_data) }}

        </article>


        <nav class="pagination" aria-label="Pagination">
            <a class="btn faux-glass-outline rounded-pill" href="#">Next Cafe</a>
        </nav>
    </div>

    <div class="col-md-4">
        {% include "components/details-aside.html" %}
    </div>

</div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='javascript/ratings.js') }}"></script>
{% endblock %}