{% include "header.html" %}

<main class="container">
    <div class="row g-5">
        <div class="col-md-8">
            <article class="blog-post">
                
                <h2 class="display-5 link-body-emphasis mb-1">{{ cafe_data.cafe.name }}</h2>
                <p>{{ cafe_data.cafe.description | safe }}</p>
                <hr>

                <div class="d-flex align-items-center gap-2">
                    <h3 class="mb-0">Features and Services</h3>
                    <a href="{{ url_for('web.edit_cafe', cafe_id=cafe_data.cafe.id) }}" class="small text-decoration-none">[edit]</a>
                    <br><br>
                </div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>Price of coffee</td>
                            <td>{{ cafe_data.cafe.coffee_price }}</td>
                        </tr>
                        <tr>
                            <td>No. of Seats</td>
                            <td>{{ cafe_data.cafe.seats }}</td>
                        </tr>
                        <tr>
                            <td>Has sockets?</td>
                            <td>
                                {% if cafe_data.cafe.has_sockets %}
                                Yes
                                {% else %}
                                None
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Has WiFi?</td>
                            <td>
                                {% if cafe_data.cafe.has_wifi %}
                                Yes
                                {% else %}
                                None
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Has toilet?</td>
                            <td>
                                {% if cafe_data.cafe.has_toilet %}
                                Yes
                                {% else %}
                                None
                                {% endif %}
                            </td>
                        </tr>                        
                        <tr>
                            <td>Can take calls?</td>
                            <td>
                                {% if cafe_data.cafe.can_take_calls %}
                                Yes
                                {% else %}
                                None
                                {% endif %}
                            </td>
                        </tr>                          
                    </tbody>
                </table>

                <h3>Where?</h3>
                <p>
                    {{ cafe_data.cafe.location }}
                    <a href="{{ url_for('web.edit_cafe', cafe_id=cafe_data.cafe.id) }}" class="small text-decoration-none">[edit]</a>
                </p>
                {% if embed_url %}
                <iframe
                    src="{{ embed_url }}"
                    allowfullscreen
                    loading="lazy"
                ></iframe>
                {% else %}
                <p>Could not generate embed URL for this location.</p>
                {% endif %}
                <a href="{{ cafe_data.cafe.map_url }}" target="_blank">Open in Google Maps</a>
                <br>
                
            </article>
            <nav class="blog-pagination" aria-label="Pagination">
                <a class="btn btn-outline-primary rounded-pill" href="#">Next Cafe</a>
            </nav>
        </div>
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-body-tertiary rounded">
                    <h4 class="fst-italic">About</h4>
                    <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
                </div>
                <div>
                    <h4 class="fst-italic">Recent posts</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                                <svg aria-hidden="true" class="bd-placeholder-img " height="96" preserveAspectRatio="xMidYMid slice" width="100%" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="100%" height="100%" fill="#777"></rect>
                                </svg>
                                <div class="col-lg-8">
                                    <h6 class="mb-0">Example blog post title</h6>
                                    <small class="text-body-secondary">January 15, 2024</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                                <svg aria-hidden="true" class="bd-placeholder-img " height="96" preserveAspectRatio="xMidYMid slice" width="100%" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="100%" height="100%" fill="#777"></rect>
                                </svg>
                                <div class="col-lg-8">
                                    <h6 class="mb-0">This is another blog post title</h6>
                                    <small class="text-body-secondary">January 14, 2024</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                                <svg aria-hidden="true" class="bd-placeholder-img " height="96" preserveAspectRatio="xMidYMid slice" width="100%" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="100%" height="100%" fill="#777"></rect>
                                </svg>
                                <div class="col-lg-8">
                                    <h6 class="mb-0">Longer blog post title: This one has multiple lines!</h6>
                                    <small class="text-body-secondary">January 13, 2024</small>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="p-4">
                    <h4 class="fst-italic">Archives</h4>
                    <ol class="list-unstyled mb-0">
                        <li>
                            <a href="#">March 2021</a>
                        </li>
                        <li>
                            <a href="#">February 2021</a>
                        </li>
                        <li>
                            <a href="#">January 2021</a>
                        </li>
                        <li>
                            <a href="#">December 2020</a>
                        </li>
                        <li>
                            <a href="#">November 2020</a>
                        </li>
                        <li>
                            <a href="#">October 2020</a>
                        </li>
                        <li>
                            <a href="#">September 2020</a>
                        </li>
                        <li>
                            <a href="#">August 2020</a>
                        </li>
                        <li>
                            <a href="#">July 2020</a>
                        </li>
                        <li>
                            <a href="#">June 2020</a>
                        </li>
                        <li>
                            <a href="#">May 2020</a>
                        </li>
                        <li>
                            <a href="#">April 2020</a>
                        </li>
                    </ol>
                </div> -->
                <div class="p-4">
                    <h4 class="fst-italic">Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li>
                            <a href="#">GitHub</a>
                        </li>
                        <li>
                            <a href="#">Social</a>
                        </li>
                        <li>
                            <a href="#">Facebook</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}