<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A curated database of the best cafes.">
    <meta name="author" content="Marco Joseph Bernacer">
    <meta name="theme-color" content="#712cf9">

    <title>{% block title %}Cafe Hunter{% endblock %}</title>

    <script>
        const staticBaseUrl = "{{ url_for('static', filename='') }}";
    </script>

    <script src="{{ url_for('static', filename='javascript/color-mode.js') }}"></script>

    {{ bootstrap.load_css() }}
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900&amp;display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    {% block styles %}{% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">

    {% include "components/header.html" %}

    <main class="container flex-grow-1 mt-2">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    {% include "components/footer.html" %}

    {% block scripts %}
        {{ bootstrap.load_js() }}
    {% endblock %}
</body>
</html>