<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A curated database of the best cafes.">
    <meta name="author" content="Marco Joseph Bernacer">
    <meta name="theme-color" content="#712cf9">

    <title>{% block title %}Cafe Hunter{% endblock %}</title>

    <script src="{{ url_for('static', filename='javascript/color-mode.js') }}"></script>

    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900&amp;display=swap" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    {% block styles %}{% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">

    {% if config.get('DEMO_MODE') and current_user.is_authenticated and current_user.email == 'demo@cafehunter.com' %}
    <div class="bg-warning text-dark text-center py-2 fw-bold shadow-sm">
        <i class="bi bi-info-circle-fill me-2"></i>
        You are currently viewing this site in <strong>Admin Demo Mode</strong>. Some admin features are still restricted.
    </div>
    {% endif %}

    {% include "sections/header.html" %}

    <main class="container flex-grow-1 d-flex flex-column mt-2">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

    </main>

    {% include "sections/footer.html" %}

    {% block scripts %}
        {{ bootstrap.load_js() }}
        <script src="{{ url_for('static', filename='javascript/global.js') }}"></script>
    {% endblock %}
</body>
</html>