{% extends "base.html" %}
{% from "components/main-macros.html" import
    render_cafe_card,
    render_featured_carousel
%}

{% block title %}
    {{ super() }} | Home
{% endblock %}

{% block content %}

{{ render_featured_carousel(featured) }}

<div class="row mb-2">

    {% for cafe in recent %}
        {{ render_cafe_card(cafe) }}
    {% endfor %}

    <div class="d-flex justify-content-center my-4">
        <a href="{{ url_for('web.cafe_index') }}" class="btn faux-glass-success">
            View All Cafes
        </a>
    </div>
</div>


{% endblock %}